.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(10, 10, 10, 0.8);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'Great Vibes', cursive; /* Misma fuente que el brand-name */
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.navbar-links a:hover {
  border-bottom: 2px solid white;
}
